<section class="section-work">

  <h3 id="work">Achievements</h3>
  {% for achievement in site.data.settings.achievement %}
    <input type="radio" name="trigger" class="trigger" id="{{ achievement.folder }}" />
  {% endfor %}

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">

    <div class="thumb-wrap">
      <div class="thumb-container">
      {% for achievement in site.data.settings.achievements %}
      <label for="{{ achievement.folder }}">
        <div class="thumb-unit" data-folder="{{ achievement.folder }}">
          <img src="assets/img/work/{{achievement.folder}}/thumb.jpg" alt="{{ achievement.name }}" />
        </div>
        <div class="thumb-overlay">
          <strong>{{ achievement.name }}</strong>
        </div>
      </label>
      {% endfor %}
    </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
      <label for="return">
        <div class="work-return">{% include icons/icon-back.html %}</div>
      </label>
      <h4 class="project-title"></h4>
      <div class="project-load"></div>

      <noscript>
        {% for achievement in site.data.settings.achievement %}
          <div class="noscript" id="content-{{ achievement.folder }}">
            <h4 class="project-title">{{ achievement.name }}</h4>
            <div class="noscript-load">
              {% include {{achievement.file}} %}
            </div>
          </div>
        {% endfor %}
      </noscript>

    </div>
    </div>

  </div>
</section>
