<section class="section-work-exp">

   <h3 id="work-exp">Work Experience</h3>

   <div class="work-exp-belt">
        <div class="work-exp-menu">
            {% for work-exp in site.data.settings.work %}
                <div class="work-exp-menu-unit" data-folder="{{work-exp.file}}" data-name="{{work-exp.name}}">
                    <img src="assets/img/{{work-exp.folder}}/{{work-exp.logo}}" alt="{{ work-exp.name }}" />
                </div>
            {% endfor %}
        </div>
        <div class="work-exp-content">
            <h4 class="work-exp-title"> Moixa Technology </h4>
            <div class="project-load-work-exp">
                {% include moixa.html %}
                <!--by default - show details of the first entry here-->
            </div>
        </div>
   </div>



</section>
