.section-work-exp
  position: relative
<<<<<<< HEAD

.work-content
=======
  overflow-x: hidden

.work-exp-belt
>>>>>>> work-exp-dev
  display: flex
  max-width: 960px
  margin: 0px auto
  +clearfix


<<<<<<< HEAD
  .work-menu
    float:left
    max-width: 238px
    

    .work-menu-unit
      padding-top: 12%
      

  .work-belt
    max-width: 600px
    float: left
    padding-left: 40px
    

    .work-unit
=======
  .work-exp-menu
    width: 238px
    margin: 0px auto
    +clearfix
    

    .work-exp-menu-unit
      cursor: pointer
      opacity: 0.7

      &:hover
        opacity: 1.0

      img
        margin: 0 auto 0px
        width: 75%
        padding: 15px
        display: block
        


        
      

  .work-exp-content
    width: 600px
    float: left

    h4
      color: $accent
      font-weight: 300
      font-size: 24px
      text-transform: uppercase
      line-height: 1.2
      margin-top: 0px

    img
      max-width: 100%
      margin-bottom: 20px

    

    .work-exp-unit
>>>>>>> work-exp-dev
      max-width: 750px
      float: left
      z-index: 1
      display: none
      padding-top: 20%

<<<<<<< HEAD
      &.active-work
        +display(flex)

      .work-unit-content
=======
      &.active-work-exp
        +display(flex)

      .work-exp-unit-content
>>>>>>> work-exp-dev
        font-size: 18px
        line-height: 36px
        font-weight: 300


// Controls
<<<<<<< HEAD
.work-controls
=======
.work-exp-controls
>>>>>>> work-exp-dev
  +position(absolute, 0px 0px 0px 0px)
  z-index: 2

  > div
    +size(40px)
    margin-top: -20px
    cursor: pointer

    path
      fill: $accent

<<<<<<< HEAD
  .work-control-next
    +position(absolute, 50% 10px null null)

  .work-control-prev
=======
  .work-exp-control-next
    +position(absolute, 50% 10px null null)

  .work-exp-control-prev
>>>>>>> work-exp-dev
    +position(absolute, 50% null null 10px)


// Logos
<<<<<<< HEAD
.work-logos
=======
.work-exp-logos
>>>>>>> work-exp-dev
  position: relative
  z-index: 3
  margin: 0px auto 100px
  +display(flex)
  +align-items(flex-end)
  +justify-content(space-around)


  .client-logo
    cursor: pointer
    margin: 0 20px 20px
    padding-bottom: 20px
    border-bottom: 4px solid transparent
    opacity: 0.5

    &.active-client
      opacity: 1
      border-bottom: 4px solid $accent